
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

*{
    margin: 0;
}

.banner{
    background: #B1A664;
    opacity: .59;
}

.banner__content{
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__text{
    color: #fff;
}
