@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,700;1,400&display=swap');

:root{
    --font-heading: 'Dancing Script', cursive;
    --font-body1: 'Cormorant', serif;
    --font-body2: 'Lora', serif;
    --font-label: 'Inter', sans-serif;
    --colour-green-light: #B1A664;
    --colour-green-dark: #8A8B4A;
    --colour-pink-light: #F4E7E2;
    --colour-pink-dark: #EABEC2;
    --colour-beige: #A99688;
    --colour-light: #F4F4F4;
    --colour-white: #FFFFFF;
    --colour-text-light: #F2EFEB;
    --colour-text-medium: #AE9686;
    --colour-text-dark: #171A20;
    --colour-button-light: #EAE7D9;
    --colour-button-medium:#957e6e;
    --colour-button-dark:#474748;
}

body {
    font-family: var(--font-body1);
    color: var(--colour-dark);
}
header, footer {
    background-color: var(--colour-dark);
    color: var(--colour-light);
}

h1 {
    font-family: var(--font-heading);
    color: var(--colour-text-light);
}

p {
    font-family: var(--font-body1);
    color: var(--colour-text-light);
}

.btn {
    text-decoration: none;
    padding: 0.75rem 2rem;
    border-radius: .5rem;
}

.btn-primary {
    background-color: var(--colour-button-light);
    color: var(--colour-text-dark);
}

.btn-secondary {
    background-color: var(--colour-button-medium);
    color: var(--colour-text-light);
}

.btm-tertiary {
    background-color: var(--colour-button-dark);
    color: var(--colour-text-light);
}


*{
    margin: 0;
}

.material-symbols-outlined {
  color: var(--colour-text-dark);
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.banner{
    background: var(--colour-green-light);
    opacity: .59;
}

.banner__content{
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__text{
    color: #ffffff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

.burger__menu{
    
}

nav > img {
    width: 160px;
}

.menubar-close{
    display: flex;
    justify-content: flex-start;
}

.nav-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.cluster {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.cluster > * {
    margin: 0.5rem;
}*/
/*
.sidebar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar{
    flex-basis: 40rem;
    flex-grow: 1;
}

.not-sidebar{
    flex-basis: 0;
    flex-grow: 999;
    min-width: 50%;
}*/

.hero{
    display: flex;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
}

.stack{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
}

.Image-1{
    width: 40%;
    height: 50%;
}

.hero__cta{
    background-color: var(--colour-green-light);
    opacity: .8;
    width: 100%;
    /*margin-top: auto;
    margin-bottom: auto;*/
    padding-left: 40px;
    padding-right: 40px;

    justify-content: center;
}

.hero__cta > h1 {
    text-align: center;
    font-size: 3rem;
}

.hero__cta > p {
    text-align: center;
    font-size: 1.3rem;
}

.hero__cta > .sign-up {
    font-size: .8rem;
    color: var(--colour-text-light);
}


.box__border{
    background-color: var(--colour-light);
    border: solid var(--colour-pink-dark);
    width: 1173px;
    height: 416px;
}

.box__inner{
    background-color: var(--colour-pink-light);
    width: 1109px;
    height: 358px;
}

.photo-strip{
    background-color: var(--colour-pink-dark);
    height: 381px;
}


.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.row {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex: 0 0 calc(33.33% - 20px);
    padding: 0 10px;
    min-width: 200px;
    margin-bottom: 50px;
    width: 25%;
    transition: transform 0.5s;
}
.col-4 img{
    width: 80%
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: black;
    font-family: var(--font-heading);
    font-size: 40px;
}

h4{
    color: Black;
    font-weight: normal;
    font-family: var(--font-body1)
}
.col-4 p{
    font-size: 14px;
}
.center {
    text-align: center;
}
.col-4:hover{
    transform: translateY(-5px);
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid black;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
  